#boids-tank {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

/* Overwritten Forty styles */
body {
  padding-top: 40px;
}

.bg-dark-alt{
  background-color: #4c6f8b;
}

.navbar {
  /* background: #4c6f8b; */
  opacity: 0.85;
}

article#pyjsbook {
  background-size: contain;
}


header.major {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: -ms-max-content;
  width: max-content;
  margin-bottom: 2em;
}
header.major > :first-child {
  margin-bottom: 0;
  width: calc(100% + 0.5em);
}
header.major > :first-child:after {
  content: "";
  background-color: #ffffff;
  display: block;
  height: 2px;
  margin: 0.325em 0 0.5em 0;
  width: 100%;
}
header.major > p {
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 0.25em;
  margin-bottom: 0;
  text-transform: uppercase;
}
body.is-ie header.major > :first-child:after {
  max-width: 9em;
}
body.is-ie header.major > h1:after {
  max-width: 100% !important;
}
@media screen and (max-width: 736px) {
  header.major > p br {
    display: none;
  }
}

/* Wrapper */
#wrapper {
  -moz-transition: -moz-filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
  -webkit-transition: -webkit-filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
  -ms-transition: -ms-filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
  transition: filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
  /* padding-top: 3.25em; */
  padding-top: 1em;
  color: #fff;
}

#wrapper a {
  color: #fff;
  text-decoration: default;
}

#wrapper.is-transitioning {
  opacity: 0;
}
#wrapper > * > .inner {
  padding: 4em 0 2em 0;
  margin: 0 auto;
  max-width: 65em;
  width: calc(100% - 6em);
}
@media screen and (max-width: 736px) {
  #wrapper > * > .inner {
    padding: 3em 0 1em 0;
    width: calc(100% - 3em);
  }
}
@media screen and (max-width: 736px) {
  #wrapper {
    padding-top: 2.75em;
  }
}

/* Banner */
#banner {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background-image: url("../../images/banner.jpg");
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 6em 0 2em 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 0 !important;
  cursor: default;
  height: 60vh;
  /* margin-bottom: -3.25em; */
  max-height: 32em;
  min-height: 22em;
  position: relative;
  /* top: -3.25em; */
}
#banner:after {
  -moz-transition: opacity 2.5s ease;
  -webkit-transition: opacity 2.5s ease;
  -ms-transition: opacity 2.5s ease;
  transition: opacity 2.5s ease;
  -moz-transition-delay: 0.75s;
  -webkit-transition-delay: 0.75s;
  -ms-transition-delay: 0.75s;
  transition-delay: 0.75s;
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  background-color: #4c6f8b;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
#banner h1 {
  font-size: 3.25em;
}
#banner > .inner {
  -moz-transition: opacity 1.5s ease, -moz-transform 0.5s ease-out, -moz-filter 0.5s ease, -webkit-filter 0.5s ease;
  -webkit-transition: opacity 1.5s ease, -webkit-transform 0.5s ease-out, -webkit-filter 0.5s ease, -webkit-filter 0.5s ease;
  -ms-transition: opacity 1.5s ease, -ms-transform 0.5s ease-out, -ms-filter 0.5s ease, -webkit-filter 0.5s ease;
  transition: opacity 1.5s ease, transform 0.5s ease-out, filter 0.5s ease, -webkit-filter 0.5s ease;
  padding: 0 !important;
  position: relative;
  z-index: 2;
}
#banner > .inner .image {
  display: none;
}
#banner > .inner header {
  width: auto;
}
#banner > .inner header > :first-child {
  width: auto;
}
#banner > .inner header > :first-child:after {
  max-width: 100%;
}
#banner > .inner .content {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0 0 2em 0;
}

#banner > .inner .content > * {
  margin-left: 1.5em;
  margin-bottom: 0;
}
#banner > .inner .content > :first-child {
  margin-left: 0;
}
#banner > .inner .content p {
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
#banner.major {
  height: 75vh;
  min-height: 30em;
  max-height: 50em;
}
#banner.major.alt {
  opacity: 0.75;
}
#banner.style1:after {
  background-color: #585897;
}
#banner.style2:after {
  background-color: #d7bd6f;
}
#banner.style3:after {
  background-color: #d7ab6f;
}
#banner.style4:after {
  background-color: #6f8ca3;
}
#banner.style5:after {
  background-color: #feea87;
}

#banner > .inner .content p {
  text-transform: none;
  font-size: 100%;
  letter-spacing: inherit;
  font-weight: 700;
}

#banner {
  /* color: #333; */
}
/* Tiles */
.tiles {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: 0 !important;
}
.tiles + * {
  border-top: 0 !important;
}
.tiles article {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-transition: -moz-transform 0.25s ease, opacity 0.25s ease, -moz-filter 1s ease, -webkit-filter 1s ease;
  -webkit-transition: -webkit-transform 0.25s ease, opacity 0.25s ease, -webkit-filter 1s ease, -webkit-filter 1s ease;
  -ms-transition: -ms-transform 0.25s ease, opacity 0.25s ease, -ms-filter 1s ease, -webkit-filter 1s ease;
  transition: transform 0.25s ease, opacity 0.25s ease, filter 1s ease, -webkit-filter 1s ease;
  padding: 4em 4em 2em 4em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: default;
  height: 40vh;
  max-height: 40em;
  min-height: 23em;
  overflow: hidden;
  position: relative;
  width: 40%;
}
.tiles article .image {
  display: none;
}
.tiles article header {
  position: relative;
  z-index: 3;
}
.tiles article h3 {
  font-size: 1.75em;
}
.tiles article h3 a:hover {
  color: inherit !important;
}
.tiles article .link.primary {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}
.tiles article:before {
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.tiles article:after {
  background-color: rgba(76, 111, 139, 0.25);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.tiles article:hover:before {
  opacity: 0;
}
.tiles article.is-transitioning {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  -moz-filter: blur(0.5em);
  -webkit-filter: blur(0.5em);
  -ms-filter: blur(0.5em);
  filter: blur(0.5em);
  opacity: 0;
}
.tiles article:nth-child(4n-1), .tiles article:nth-child(4n-2) {
  width: 60%;
}
.tiles article:nth-child(6n-5):before {
  background-color: #585897;
}
.tiles article:nth-child(6n-4):before {
  background-color: #d7bd6f;
}
.tiles article:nth-child(6n-3):before {
  background-color: #d7ab6f;
}
.tiles article:nth-child(6n-2):before {
  background-color: #6f8ca3;
}
.tiles article:nth-child(6n-1):before {
  background-color: #feea87;
}
@media screen and (max-width: 1280px) {
  .tiles article {
    padding: 4em 3em 2em 3em;
    height: 30vh;
    max-height: 30em;
    min-height: 20em;
  }
}
@media screen and (max-width: 980px) {
  .tiles article {
    width: 50% !important;
  }
}
@media screen and (max-width: 736px) {
  .tiles article {
    padding: 3em 1.5em 1em 1.5em;
    height: 16em;
    max-height: none;
    min-height: 0;
  }
  .tiles article h3 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 480px) {
  .tiles {
    display: block;
  }
  .tiles article {
    height: 20em;
    width: 100% !important;
  }
}


#contact {
  background-color: #4c6f8b;
  //opacity: 0.85;
}

/* MARKDOWN HACKS */
img[src$='#center']
{
  display: block;
  margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
  /* whatever else styles you fancy here */
}

img[src$='#floatleft']
{
  float:left;
  margin: 0.7rem;      /* this margin is totally up to you */
  /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
  float:right;
  margin: 0.7rem;      /* this margin is totally up to you */
  /* whatever else styles you fancy here */
}

.center {
  display: block;
  margin: 0.7rem auto;
}

.share-icons {]
font-size: 1.2em;
display: flex;
}
