{{ "<!-- Worked-with logos -->" | safeHTML }}
<div id="worked-with">

  <h2 id="worked-with">Companies and clients I've worked with</h2>
  <div class="logos">

    <div class="logo">
      <a class="logo-link" href="">
        <img class="logo-fluid" src="/img/logos/ucl.png">
      </a>
    </div>

    <div class="logo">
      <a class="logo-link" href="">
        <img class="logo-fluid" src="/img/logos/oreilly.png">
      </a>
    </div>

    <div class="logo">
      <a class="logo-link" href="">
        <img class="logo-fluid" src="/img/logos/gds.png">
      </a>
    </div>

    <div class="logo">
      <a class="logo-link" href="">
        <img class="logo-fluid" src="/img/logos/channel4.png">
      </a>
    </div>

  </div>

</div>
